    .event_card_cnt {
        width: 100%;
        height: 1130px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #982b31;
        /* background-color: red; */
    }

    .event_card_cnt_name {
        height: 60px;
        width: 85%;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .event_card_cnt_name p {
        font-size: 20px;
        color: #982b31;
    }

    .event_card_cnt_name span {
        padding: 5px 0;
        border-bottom: 3px solid #fea31f;
    }

    .event_card_cnt_heading {
        height: 60px;
        width: 85%;
        display: flex;
        align-items: center;
    }

    .event_card_cnt_card_full_cnt {
        height: 490px;
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .event_card_cnt_card_1 {
        height: 95%;
        max-width: 350px;
        background: rgba( 255, 255, 255, 0.25 );
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 30px;
        box-shadow: 0 0 30px #0000007c;

        &:hover .event_card_img img {
            scale: 1.05;
        }
    }
 
    .event_card_img {
        border-radius: 20px 20px 0 0;
        width: 100%;
        height: 55%;
        display: flex;
        align-items: center;
        overflow: hidden;
        justify-content: center;
        
    }

    .event_card_img img {
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0 0;
        transition: 0.5s ease-in;
    }

    .event_card_others {
        margin-top: 10px;
        padding: 5px 25px;

    }
    
    .event_card_read {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .event_card_read_btn {
        height: 40px;
        width: 50%;
        background-color: transparent;
        position: relative;
        border: 2px solid #982b31;
        overflow: hidden;
        border-radius: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        color: #982b31;

        &:hover {
            background-color: #ffb03a;
            scale: 1.05;
        }

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -50px;
            width: 0;
            height: 100%;
            background-color: #ffb03a;
            transform: skewX(35deg);
            z-index: -99;
            transition: width 0.5s ease;
        }

        &:hover::before {
            width: 150%;
        }
    }

    /* --------------------facilities Box-------------------- */

    .facilities_cnt_align {
        display: flex;
        justify-content: center;
    }

    .facilities_cnt {
        height: 550px;
        width: 95%;
        background-image: url(Logos/image\ \(1\).webp);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: end;
        justify-self: center;
        border-radius: 20px;
        box-shadow: 0 0 50px #0000009c;
        overflow: hidden;
    }

    .facilities_cnt_box1 {
        height: 100%;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: #fea51fc9;
    }

    .facilities_cnt_box1_sub {
        width: 75%;
        height: 65px;
        display: flex;
        align-items: center;
        color: #982b31;

    }

    .facilities_cnt_box1_sub h3 {
        font-size: 36px;
        font-weight: 500;
        color: #982b31;
    }

    .facilities_cnt_box1_sub span {
        font-size: 70px;
        margin-top: 15px;
        color: #fff;
    }

    .facilities_cnt_box1_sub h4 {
        font-size: 25px;
        margin-left: 15px;
        font-weight: 100;
    }

    .facilities_cnt_box1_sub_diff_span {
        font-size: 50px;
        margin-bottom: 30px;
        color: #fff;
    }