 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: sans-serif, Arial, Helvetica;
   list-style-type: none;
 }


 /* full frame */
 .full_frame {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 